@inject SignInManager<ApplicationUser> signInManager;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjetDevB2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/App.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-dark bg-dark text-white navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
            <div class="container-fluid d-flex justify-content-center align-item-center">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ProjetDevB2</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        @if(signInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="CreateArticle" asp-action="CreateArticle">CreateArticle</a>
                            </li>
                            @if(User.IsInRole("Admin")){
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Administration" asp-action="UserManager">User Manager</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Administration" asp-action="CreateRole">CreateRole</a>
                                </li>
                            }
                        }
                    </ul>
                    <ul class="navbar-nav ml-auto align-items-center">
                        @if(signInManager.IsSignedIn(User))
                        {
                            <form method="get">
                                <li class="nav-item">
                                    <a type="submit" class="nav-link btn btn-link py-0" style="width:auto" asp-action="Cart" asp-controller="Articles">
                                        Cart
                                    </a>
                                </li>
                            </form>
                            <form method="get">
                                <li class="nav-item">
                                    <a type="submit" class="nav-link btn btn-link py-0" style="width:auto" asp-action="Profile" asp-controller="Account" asp-route-Id=@signInManager.UserManager.GetUserId(@User) asp-route-modifiedByAdmin=@false>
                                        @User.Identity.Name
                                    </a>
                                </li>
                            </form>
                            <form method="post" asp-action="Logout" asp-controller="Account">
                                <li class="nav-item">
                                    <button type="submit" class="nav-link btn btn-link py-0" style="width:auto">
                                        Logout
                                    </button>
                                </li>
                            </form>
                        }else{
                            <li class="nav-item">
                                <a class="btn btn-outline-light me-2" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark bg-warning btn btn-outline-warning mx-2" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - ProjetDevB2 - <a href="https://github.com/Dorian2002/ProjetDevB2" >About</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
