@model App.ViewModels.RegisterRequest
@{
    ViewData["Title"] = "Register";
}



<div class="row">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
    {
        <div class="col-md-4 mx-auto bg-dark text-white p-3 rounded">
        <h1>Register</h1>
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <button style="width:auto" type="submit" class="mx-auto btn btn-secondary">Register</button>
            </form>
        </div>
    }
</div>